@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

body {
    zoom: 70.5%;
    font-family: barlow-regular, Arial, sans-serif;
    font-size: 16px;
    color: #000000;
}

hr {
    border-top: 1px solid #707070;
    margin-top: 16px;
    margin-bottom: 32px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 991px) {
    body {
        font-size: 36px;
    }

    .fa-2x {
        font-size: 30px;
    }

    .fa-4x {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1360px;
    }
}