/*
 * Barlow
================================================================================ */
@font-face {
    font-family: 'barlow-regular';
    src: url('fonts/barlow/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-italic';
    src: url('fonts/barlow/Barlow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-light';
    src: url('fonts/barlow/Barlow-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-light-italic';
    src: url('fonts/barlow/Barlow-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-semibold';
    src: url('fonts/barlow/Barlow-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-semibold-italic';
    src: url('fonts/barlow/Barlow-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-bold';
    src: url('fonts/barlow/Barlow-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-bold-italic';
    src: url('fonts/barlow/Barlow-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-extrabold';
    src: url('fonts/barlow/Barlow-Extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-extrabold-italic';
    src: url('fonts/barlow/Barlow-ExtraboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'barlow-medium';
    src: url('fonts/barlow/Barlow-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}